# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs/
.vs/WindowsProject-2D/v15/.suo
.vs/WindowsProject-2D/v15/Solution.VC.db-wal
.vs/WindowsProject-2D/v15/Solution.VC.db-shm
.vs/WindowsProject-2D/v15/Solution.VC.db
.vs/WindowsProject-2D/v15/ipch/b75df19bc6993656.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/fddb8325391f4932/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/f837d4b1aa3328c0/CATIMER.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/eee438989567165c/CASOUND.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/c98f397e4199dff9/CABITMAPMGR.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/c21ea544bab8b916/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/a58322be93061251/CAINPUT.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/98ca72989e223314/CASTD.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/85c36f2efa5d04a5/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7ef05a0b3fe460ac/CACORE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7b0c3b75c33fac24/CASOUND.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7b0236f28df27fc8/CATIMER.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/70e14bf87204a54/CASOUNDMGR.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/5a54aae634d46779/CABITMAP.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/5780e4f31a6d7033/CAWINDOW.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/421b219518c6d4f4/CACORE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/2ce481273667c95a/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/282cf417c18fc92b/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/1a81591290cf786b/CAWINDOW.ipch
.vs/WindowsProject-2D/v15/Browse.VC.db
.vs/WindowsProject-2D/v15/.suo
.vs/WindowsProject-2D/v15/ipch/AutoPCH/f837d4b1aa3328c0/CATIMER.ipch
*.db
*.ipch
*.db
*.db-shm
*.db-wal
.vs/WindowsProject-2D/v15/Solution.VC.db-wal
.vs/WindowsProject-2D/v15/Solution.VC.db-shm
.vs/WindowsProject-2D/v15/Solution.VC.db
.vs/WindowsProject-2D/v15/ipch/b75df19bc6993656.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/fddb8325391f4932/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/f837d4b1aa3328c0/CATIMER.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/eee438989567165c/CASOUND.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/c98f397e4199dff9/CABITMAPMGR.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/c21ea544bab8b916/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/a58322be93061251/CAINPUT.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/98ca72989e223314/CASTD.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/85c36f2efa5d04a5/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7ef05a0b3fe460ac/CACORE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7b0c3b75c33fac24/CASOUND.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/7b0236f28df27fc8/CATIMER.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/70e14bf87204a54/CASOUNDMGR.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/5a54aae634d46779/CABITMAP.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/5780e4f31a6d7033/CAWINDOW.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/421b219518c6d4f4/CACORE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/2ce481273667c95a/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/282cf417c18fc92b/SAMPLE.ipch
.vs/WindowsProject-2D/v15/ipch/AutoPCH/1a81591290cf786b/CAWINDOW.ipch
.vs/WindowsProject-2D/v15/Browse.VC.db
.vs/WindowsProject-2D/v15/.suo
.vs/WindowsProject-2D/v15/Solution.VC.db-shm
